footer {
    display: table;
    width: 100%;
    padding: 20px;
    height: auto;
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color: #B0BEC5; /* Light grey-blue background */
    color: black;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.2); /* Adds a shadow to the top of the footer */
}

footer p {
    margin: 10px 0;
    font-size: 0.9rem;
}

footer hr {
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 50%;
    margin: 10px auto;
}

.inline {
    display: inline-block;
    margin: 10px 5px; 
}

.ui.small.header {
    font-weight: bold;
    text-transform: uppercase;
    margin: 5px 0;
}

@media (max-width: 768px) {
    footer {
        padding: 10px;
        position: relative;
        max-width: 100%;
    }

    .inline {
        display: block;
        margin: 10px 0;
    }
}

@media (max-width: 340px) {
    .text-wrap {
        display: block;
    }
}
